.button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: orange;
}

.mt {
    margin-top: 20px;
}

find-org {
    width: 100vw;
}

find-org div {
    text-align: center;
}

input {
    width: 40vw;
    height: 40px;
    border-radius: 8px;
    background-color: #434a52;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
}